NEXT_PUBLIC_SUPABASE_URL=https://yfbparzyxmxuctumhtro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
ML_CLIENT_ID=1239927990068150
ML_CLIENT_SECRET=PdEPT9XnGreYiQxxhj9ksWeNLNxfyrgu
NEXT_PUBLIC_APP_URL=https://dashbi.vercel.app
CRON_SECRET=un-secreto-largo-random
